<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlb.userserviceprovider.dao.PropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlb.userserviceprovider.domain.Property">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="user_type" property="userType" />
        <result column="gender" property="gender" />
        <result column="create_time" property="createTime" />
        <result column="address" property="address" />
        <result column="password" property="password" />
        <result column="phone" property="phone"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, user_type, gender, create_time, address, password,phone
    </sql>

    <select id="login" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from property
        <where>
            (username = #{loginUser.username})
            or (phone = #{loginUser.username})
            AND password = #{loginUser.password}
            AND user_type = #{loginUser.identity}
        </where>
    </select>
    
    <!-- 返回用户列表 -->
    <select id="selectPropertyList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from property
        <where>
        <if test="propertyVo != null">
            <if test="propertyVo.username != null and propertyVo.username != '' ">
                and username LIKE '%${propertyVo.username}%'
            </if>
            <if test="propertyVo.phone != null and propertyVo.phone != ''">
                and phone LIKE '${propertyVo.phone}%'
            </if>
            <if test="propertyVo.userType != null and propertyVo.userType != ''">
                and user_type = #{propertyVo.userType}
            </if>
            <if test="propertyVo.gender != null and propertyVo.gender != ''">
                and gender = #{propertyVo.gender}
            </if>
            <if test="propertyVo.startTime != null and propertyVo.startTime != ''">
                and create_time <![CDATA[>= ]]> #{propertyVo.startTime}
            </if>
            <if test="propertyVo.endTime != null and propertyVo.endTime != ''">
                and create_time <![CDATA[<= ]]> #{propertyVo.endTime}
            </if>
        </if>
        </where>
        order by create_time desc
    </select>
</mapper>
