<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlb.userserviceprovider.dao.PropertyHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlb.userserviceprovider.domain.PropertyHistory">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="user_type" property="userType"/>
        <result column="create_time" property="createTime" />
        <result column="remove_time" property="removeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, phone, user_type,create_time, remove_time
    </sql>

    <!--返回离职人员列表 -->
    <select id="selectQuitList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from property_history
        <where>
            <if test="phone != null">
                and phone like '%${phone}%'
            </if>
        </where>
        order by remove_time
    </select>

    <select id="countQuitByTime" resultType="integer">
        SELECT count(*) from property_history
        <where>
            remove_time between #{startTime} and #{endTime}
        </where>
    </select>

    <!--统计上个月管理员离职情况-->
    <select id="countQuitAdmin" resultType="integer">
        SELECT count(*) from property_history
        <where>
            remove_time between #{startTime} and #{endTime}
            and user_type = 1
        </where>
    </select>

    <!--统计上个月普通员工离职情况-->
    <select id="countQuitOrdinary" resultType="integer">
        SELECT count(*) from property_history
        <where>
            remove_time between #{startTime} and #{endTime}
            and user_type = 2
        </where>
    </select>
</mapper>
